HealthDisplay
{
    aspect-ratio: 1;
    height: 100px;
    position: absolute;
    bottom: 25px;
    left: 25px;
    justify-content: center;
    align-items: center;

    .clues-collected
    {
        font-size: 40px;
        font-weight: bold;
    }
}
