@using Sandbox;
@using Sandbox.UI;
@using System;

@namespace Murder.UI

@attribute [StyleSheet("UI/Communication/TextChat/TextChatEntry.scss")]

<root>
	@if (_client?.Pawn is Murder.Player player)
	{
		<div style="flex-shrink: 0;">
			@if (!player.IsIncognito)
			{
				<img class="avatar" src="avatar:@_client.SteamId" />
			}
			<text class="name" style="color: @(player.IsIncognito ? player.Color.Hex : "#fcdb38")">
				@(player.IsIncognito ? player.BystanderName : _client.Name)
			</text>
		</div>
	}
	@if (!string.IsNullOrEmpty(_message))
	{
		<div>
			<text class="message">@_message</text>
		</div>
	}
</root>

@code
{
	private readonly IClient _client;
	private readonly string _message;
	private readonly Color _color;

	public TimeSince Lifetime { get; init; } = 0;

	public TextChatEntry(IClient client, string message)
	{
		_client = client;
		_message = message;
	}

	public TextChatEntry(string message, Color color)
	{
		_message = message; // Use Name field since it is bold & colored.
		_color = color;
	}
}