TextChatEntry
{
    max-width: 100%;
    transition: opacity 0.15s ease;
    margin-bottom: 6px;
    flex-shrink: 0;

    img
    {
        height: 30px;
        width: 30px;
        margin-right: 3px;
    }

    .name
    {
        font-weight: 700;
        font-size: 16px;
        margin-top: 3px;
        margin-right: 4px;
    }

    .message
    {
        font-size: 16px;
        margin-top: 3px;
        flex-shrink: 0;
    }

    &.stale
    {
        transition: opacity 1s ease;
        opacity: 0;
    }
}
