@using Sandbox;
@using System;

@namespace Murder.UI

@if (!Input.Down(InputButton.Score))
{
	return;
}

<root>
	<div class="container rounded background-color-primary">
		<ScoreboardInfo />
		<div class="groups">
			<ScoreboardGroup />
			@foreach (var client in Game.Clients)
			{
				<ScoreboardEntry Client=@client />
			}
		</div>
	</div>
</root>

@code
{
	protected override int BuildHash()
	{
		return HashCode.Combine(Input.Down(InputButton.Score), Game.Clients.HashCombine(c => HashCode.Combine(c.SteamId)));
	}
}

<style>
	Scoreboard 
	{
		width: 100%;
		height: 100%;
		z-index: 1;
		justify-content: center;
		align-items: center;
		opacity: 0.98;

		.container 
		{
			flex-direction: column;
			max-height: 70%;
			width: 45%;
			backdrop-filter-blur: 20px;

			.groups 
			{
				flex-direction: column;
				padding: 8 8 12 8;
				overflow: scroll;
			}
		}
	}
</style>