@using System;
@using System.Linq;

@namespace Murder.UI

<root class="text-shadow">
    <div class="header rounded-top background-color-info">
        <text style="font-size: 14px; flex-grow: 1;">Players</text>
        <text class="stat">Ping</text>
    </div>
</root>

<style>
    ScoreboardGroup {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        flex-shrink: 0;
        flex-grow: 0;

        .header {
            height: 25px;
            display: flex;
            justify-content: space-between;
            font-weight: 600;
            align-items: center;
            padding: 8px;
        }

        .stat {
            width: 125px;
            justify-content: center;
        }

        &:first-child {
            margin-top: 0;
        }
    }
</style>