ScoreboardGroup
{
    flex-direction: row;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    height: 25px;

    .name
    {
        margin-left: 16px;
        font-size: 16px;
        font-weight: 600;
        flex-grow: 1;
    }

    .stat
    {
        width: 125px;
        font-weight: 700;
        text-align: center;
    }
}
