@using Sandbox.UI;
@using System;

@namespace Murder.UI

@attribute [StyleSheet("UI/Game/Scoreboard/ScoreboardGroup.scss")]

<root class="text-shadow header rounded-top background-color-primary">
	<label class="name">Players</label>
	@if (GameState.Current is PostRound)
	{
		<div>
			<label class="stat">#Name</label>
			<label class="stat">#Clues</label>
		</div>
	}
	<label class="stat">#Ping</label>
</root>

@code {
	protected override int BuildHash()
	{
		return HashCode.Combine(GameState.Current is PostRound);
	}
}