ScoreboardEntry
{
    flex-direction: row;
    flex-shrink: 0;
    width: 100%;
    height: 38px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    background-color: #61616115;

    .avatar
    {
        margin-left: 16px;
        height: 25px;
        width: 25px;
    }

    .name
    {
        margin-left: 8px;
        font-size: 16px;
        font-weight: 600;
        flex-grow: 1;
    }

    .stat
    {
        width: 125px;
        font-weight: 700;
        justify-content: center;
    }

    &:last-child
    {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}
