@using Sandbox.UI;
@using System;

@namespace Murder.UI

@attribute [StyleSheet("UI/Game/Scoreboard/ScoreboardGroup.scss")]

<root class="text-shadow header rounded-top background-color-primary">
	<label class="name">#Scoreboard.Players</label>
	@if (GameState.Current is PostRound)
	{
		<label class="stat">#Scoreboard.Name</label>
		<label class="stat">#Scoreboard.Clues</label>
	}
	<label class="stat">#Scoreboard.Ping</label>
</root>

@code
{
	protected override int BuildHash()
	{
		return HashCode.Combine(GameState.Current is PostRound);
	}
}