Scoreboard
{
    pointer-events: all;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &.show
    {
        opacity: 0.98;
    }

    .container
    {
        flex-direction: column;
        max-height: 70%;
        width: 45%;
        backdrop-filter-blur: 20px;

        .groups
        {
            flex-direction: column;
            padding: 8 8 12 8;
            overflow: scroll;
        }
    }

    .spectate-button
    {
        align-items: center;
        margin: 2px 5px;
        transition: all 0.1s ease;

        label
        {
            font-size: 16px;
        }

        iconpanel
        {
            font-size: 20px;
            margin-right: 3px;
        }

        &:hover
        {
            color: #dfdfdf;
            cursor: pointer;
            transform: scale(1.01);
        }

        &:active
        {
            color: #c4c4c4;
            transform: scale(1);
        }
    }
}
