@using Sandbox;
@using Sandbox.UI;
@using System;
@using System.Collections.Generic;

@namespace Murder.UI

@attribute [StyleSheet("UI/Game/Scoreboard/Scoreboard.scss")]

<root class="@(Input.Down(InputButton.Score) ? "show" : "")">
	<div class="container rounded background-color-primary">
		<ScoreboardInfo />
		<div class="groups">
			<ScoreboardGroup />
			@foreach (var client in Game.Clients)
			{
				<ScoreboardEntry Client=@client />
			}
		</div>
	</div>
	<div style="width: 45%;">
		<button class="spectate-button text-shadow" @onclick=@ToggleSpectating icon=@(Spectating.IsForced ? "videocam_off" : "videocam")>
			@(Spectating.IsForced ? "Disable Forced Spectating" : "Enable Forced Spectating")
		</button>
	</div>
</root>

@code
{
	private void ToggleSpectating()
	{
		Spectating.IsForced = !Spectating.IsForced;
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(Input.Down(InputButton.Score), Spectating.IsForced, Game.Clients.HashCombine(c => HashCode.Combine(c.SteamId)));
	}
}