@using System;

@namespace Murder.UI

<root class="text-shadow header rounded-top background-color-primary">
    <text class="name" text="Players"/>
	@if (GameState.Current is PostRound)
	{
		<div>
			<text class="stat" text="Name"/>
    		<text class="stat" text="Clues"/>
		</div>
	}
    <text class="stat" text="Ping"/>
</root>

@code {
	protected override int BuildHash()
	{
		return HashCode.Combine(GameState.Current is PostRound);
	}
}

<style>
    ScoreboardGroup 
    {
		flex-direction: row;
		flex-shrink: 0;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		font-size: 14px;
		font-weight: 600;
		height: 25px;
        
        .name 
		{
			margin-left: 16px;
			font-size: 16px;
			font-weight: 600;
			flex-grow: 1;
		}

		.stat 
		{
			width: 125px;
			font-weight: 700;
			text-align: center;
		}

        &:first-child 
        {
            margin-top: 0;
        }
    }
</style>