@*@namespace Murder.UI

@if (!Hud.DisplayedPlayer.IsAlive())
{
	return;
}

<root class="text-shadow">
	<div class="slot" @ref="Holster">
		<inputglyph button="Slot1" />
		<div class="line box-shadow"></div>
		<text>Holster</text>
	</div>
	<div class="slot">
		<inputglyph button="Slot2" />
		<div class="line box-shadow"></div>
		<text @ref="Carriable">@Hud.DisplayedPlayer.Carriable.ClassName</text>
	</div>
</root>

@code
{

}

<style>
    InventoryDisplay 
    {
        position: absolute;
        bottom: 25px;
        right: 25px;
        display: flex;
        flex-direction: column;
        
        .slot
        {
            align-items: center;
            font-size: 30px;
            align-self: flex-end;
            transition: all 0.1s ease-in;

            .line
            {
                width: 2px;
                height: 80%;
                background-color: rgb(255, 255, 255);
                margin: 5px;
             }

            inputglyph 
            {
                border-radius: 6px;
            }

        }
    }
</style>*@