@using Sandbox;
@using System;

@namespace Murder.UI

@if (!Input.Down(InputButton.Score))
{
	return;
}

<root>
	<div class="container">
		<div class="temp">
			<ScoreboardInfo />
			<div class="background-color-primary rounded-bottom groups">
				<ScoreboardGroup />
				@foreach (var client in Game.Clients)
				{
					<ScoreboardEntry Client=@client />
				}
			</div>
		</div>
	</div>
</root>

@code
{
	protected override int BuildHash()
	{
		var player = Game.LocalPawn as Murder.Player;

		return HashCode.Combine(Input.Down(InputButton.Score));
	}
}

<style>
	Scoreboard {
		width: 100%;
		height: 100%;
		bottom: -25px;
		z-index: 1;
		justify-content: center;
		.container

	{
		width: 45%;
		flex-direction: column;
		justify-content: center;
		opacity: 0.985;
	}

	.temp {
		flex-direction: column;
		max-height: 70%;
		.groups

	{
		flex-direction: column;
		padding: 8 8 12 8;
		overflow: scroll;
	}

	}
	}</style>