@using Sandbox;
@using Sandbox.UI;
@using System;

@namespace Murder.UI

@attribute [StyleSheet("UI/Player/CarriableDisplay.scss")]

@{
	var player = Hud.DisplayedPlayer;

	if (!player.Carriable.IsValid())
		return;
}

<root class="text-shadow">
	<div class="slot @(player.IsHolstered ? "inactive" : "")">
		<div class="bar rounded">
			<img class="icon" src="@player.Carriable.IconPath" />
		</div>
		<InputGlyph button="Slot1" style="light" style="margin-left: 5px;" />
	</div>
</root>

@code
{
	protected override int BuildHash()
	{
		var player = Hud.DisplayedPlayer;

		return HashCode.Combine(player.Carriable, player.IsHolstered, player.Role);
	}
}