@using Murder;
@using Sandbox;
@using System;

@namespace Murder.UI

@if (!UI.Hud.DisplayedPlayer.Carriable.IsValid())
{
    return;
}

<root class="text-shadow">
    <div class="slot @(UI.Hud.DisplayedPlayer.IsHolstered ? "inactive" : "")">
        <div class="bar rounded" style="background-image: linear-gradient(to left, rgba( @UI.Hud.DisplayedPlayer.Role.GetColor().Hex, 1 ), rgba( black, 0 ));">
            <img class="icon" src="@UI.Hud.DisplayedPlayer.Carriable.IconPath" />
        </div>
        <inputglyph button="Slot1" style="light" style="margin-left: 5px;" />
    </div>
</root>

@code {
    protected override int BuildHash()
    {
        return HashCode.Combine(UI.Hud.DisplayedPlayer.Carriable.IsValid(), UI.Hud.DisplayedPlayer.IsHolstered, UI.Hud.DisplayedPlayer.Role.GetHashCode());
    }
}

<style>
    CarriableDisplay {
        position: absolute;
        bottom: 50px;
        right: 25px;
        transform: skew(0deg, 5deg);
        flex-direction: column;
        align-items: flex-end;

        .slot {
            transition: all 0.15s ease-out;
            align-items: center;

            .bar {
                height: 80px;
                width: 130px;
                border-right: 4px;
                border-color: white;
                align-items: center;
                justify-content: center;

                .icon {
                    height: 100px;
                    width: 100px;
                }
            }

            &.inactive {
                opacity: 0.5;
            }

            &:intro {
                right: -25px;
            }
        }
    }
</style>