@using Sandbox;
@using System;

@namespace Murder.UI

@if (!Hud.DisplayedPlayer.Carriable.IsValid())
{
	return;
}

<root class="text-shadow">
	<div class="info">
		<InputGlyph button="Slot1" />
		<text>Holster</text>
		<InputGlyph button="Slot2" />
		<text>Equip</text>
	</div>
	<div class="outer-circle outline background-color-gradient opacity-heavy box-shadow">
		<div class="inner-circle box-shadow"></div>
		<img src=@Hud.DisplayedPlayer.Carriable.IconPath class=@(!Hud.DisplayedPlayer.IsHolstered ? "active" : "") />
	</div>

</root>

@code
{
	protected override int BuildHash()
	{
		return HashCode.Combine(Hud.DisplayedPlayer.Carriable?.GetHashCode(), Hud.DisplayedPlayer.IsHolstered);
	}
}

<style>
	CarriableDisplay {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		font-size: 20px;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
		.outer-circle

	{
		font-size: 50px;
		font-weight: 600;
		width: 225px;
		height: 225px;
		border-radius: 50%;
		transition: all 0.3s ease-out;
		align-items: center;
		justify-content: center;
		right: 25px;
		bottom: 10px;
		&:intro, &:outro

	{
		bottom: -200px;
	}

	}

	.inner-circle {
		border-radius: 50%;
		width: 95%;
		height: 95%;
		background-color: #1a1a1a;
	}

	img {
		opacity: 0.3;
		width: 200px;
		height: 200px;
		transition: opacity 0.1s linear;
		&.active

	{
		opacity: 1;
	}

	}

	.info {
		position: absolute;
		right: 30px;
		justify-content: center;
		align-items: center;
		bottom: 260px;
		InputGlyph

	{
		margin-left: 20px;
	}

	}
	}
</style>