NameDisplay
{
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    top: -45px;
    transition: all 0.1s ease-out;

    &:intro 
    {
        top: 5px;
        opacity: 0;
    }

    &:outro
    {
        opacity: 0;
        top: -5px;
    }
}