RoundStartPopup
{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s linear;

    text
    {
        position: absolute;
    }

    .title
    {
        top: 50px;
    }

    .subtitle
    {
        top: 100px;
        color: rgb(120, 70, 245);
    }

    &:outro
    {
        opacity: 0;
    }
}
