ScoreboardHeader
{
    flex-direction: row;
    justify-content: space-between;
    padding: 10 16 10 16;

    .server-information-panel
    {
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
    }

    .server-name-label
    {   
        font-size: 40px;
        font-weight: 600;
    }

    .server-description-label
    {
        font-weight: 500;
    }

    .server-data-panel
    {
        flex-direction: column;
        text-align: right;
        font-size: 16px;
        align-self: flex-end;

        .current-map
        {
            font-weight: bold;
        }
    }

    .created-by
    {
        font-size: 10px;
        opacity: 0.7;
    }
}
