VoiceChatIndicator
{
    justify-content: center;
    align-items: center;

    .voice-icon
    {
        background-size: contain;
        width: 64px;
        height: 64px;
        font-size: 500px;
    }
}
