RadialHealth
{
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    transition: all 0.1s ease-out;
    align-items: center;
    justify-content: center;
    top: 80px;

    .outline, .inner
    {
        position: absolute;
        height: 105px;
        aspect-ratio: 1;
        border-radius: 50%;
    }

    .inner
    {
        max-height: 90px;
        max-width: 90px;
    }
}
