NameHealthDisplay
{
    position: absolute;
    bottom: 140px;
    left: 25px;
    min-width: 140px;
    font-size: 35px;
    font-weight: 600;
    transition: all 0.1s ease-out;
    align-items: center;
    flex-direction: column;

    &:intro 
    {
        opacity: 0;
        bottom: 100px;
    }

    &:outro
    {
        opacity: 0;
        bottom: 100px;
    }
}
