@import "/ui/Hud.scss";

PostRoundPopup
{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    transition: all 0.15s ease-out;
    transform: scale(1);
    bottom: 0px;
    opacity: 0.985;

    .content
    {
        flex-direction: column;
        align-items: flex-start;
        height: 70%;
        width: 50%;
        font-size: 25px;
        padding: 20px;

        .header
        {
            font-size: 40px;
            font-weight: 500;
        }

        .sub-header
        {
            align-items: center;
        }

        .players
        {
            flex-direction: column;
            overflow: scroll;
            height: 85%;
            width: 100%;
        }
    }

    &:intro, &:outro
    {
        bottom: 10px;
        transform: scale(0.95);
        opacity: 0;
    }
}
