InventorySlot 
{
    height: 34px;
    font-size: 24px;
    opacity: 0.5;
    align-items: center;
    transition: opacity 0.1s ease-out;
    transition: height 0.1s ease-in;
    height: 100%;

    .slot-label 
    {
        text-align: center;
        font-weight: bold;
        width: 25%;
    }

    .slot-title
    {
        width: 100%;
        margin-right: 10px;
        text-align: right;
    }

    &.active 
    {
        opacity: 1;
    }

    &:outro
    {
        height: 0;
        opacity: 0;
    }

    &:intro
    {
        height: 0;
        opacity: 0;
    }
}
